@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-500: 99 102 241;
    --accent-500: 236 72 153;
    --neutral-900: 17 24 39;
    --neutral-100: 243 244 246;
    
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    
    --background: 255 255 255;
    --foreground: var(--neutral-900);
  }
  
  .dark {
    --primary-500: 129 140 248;
    --accent-500: 244 114 182;
    --neutral-900: 249 250 251;
    --neutral-100: 31 41 55;
    
    --background: 17 24 39;
    --foreground: var(--neutral-900);
  }
  
  * {
    @apply border-neutral-100 dark:border-neutral-100/10;
  }
  
  body {
    @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
  }
}